[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-cors-middleware = "==1.3.1"
django-extensions = "==1.7.1"
djangorestframework = "==3.4.4"
six = "==1.10.0"
PyJWT = "==1.4.2"
ddtrace = "*"
django-cors-headers = "*"
django = "==1.11.*"

[requires]
python_version = "3.7"
